html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
}

body,
canvas {
    background-color: black;
}

canvas {
    width: 100%;
    object-fit: contain;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
}

img {
    display: none;
}
